.input-label {
    width: 120px;
    padding: 5px;
    font-weight: 500;
}

.btn-submit {
    width: 100px;
    background-color: #92b1d6 !important;
    border-color: #7790af !important;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: none !important;
    text-align: left;
    padding: 8px;
}

.btn-add {
    background-color: #92b1d6 !important;
    border-color: #7790af !important;

}

.btn-action {
    background-color: #92b1d6 !important;
    color: white !important;
    border-color: #7790af !important;
    border-radius: 0 !important;
}

#container {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgb(194, 192, 192) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(194, 192, 192) 1px, transparent 1px);
}